{% extends "template/base.twig" %}
{% block content %}
<div class="row">
        <div class="col-lg-8 mb-4">
          <h3>Agregar usuarios para APP @Medellín</h3>
          <br>
          <form name="sentMessage" id="contactForm" novalidate method="post" action="{{ path_for('usuario.insertar') }}">
            <div class="control-group form-group">
              <div class="controls">
                <label>Nombre:</label>
                <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Please enter your name.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Email:</label>
                <input type="tel" class="form-control"  name="email" id="email" required data-validation-required-message="Please enter your phone number.">
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Contraseña:</label>
                <input type="email" class="form-control" name="encrypted_password" id="encrypted_password" required data-validation-required-message="Please enter your email address.">
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <div class="form-group">
                    <label>Avatar</label>
                        <select class="form-control" name="avatar">
                            <option value="avatar1">1</option>
                            <option value="avatar2">2</option>
                            <option value="avatar3">3</option>
                            <option value="avatar4">4</option>
                            <option value="avatar5">5</option>
                        </select>
                </div>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <div class="form-group">
                    <label>Estado</label>
                        <select class="form-control" name="estado">
                            <option value="0">Activo</option>
                            <option value="1">Pasivo</option>
                        </select>
                </div>
              </div>
            </div>
            <div class="form-group">
                <label>terminos y condiciones</label>
                 <div class="checkbox">
                   <label>
                  <input checked="checked" type="checkbox" value="1" name="terminos_condiciones">Aceptar
                  </label>
                </div>
              </div>

              <br>
              <br>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>

      </div>
{% endblock %}
