{% extends "template/base.twig" %}
{% block content %}

<br>

<div class="well">
<h4>Tipos de roles</h4>
<p>1 => SuperAdmin : Acceso y control a toda la platforma</P>
<p>2 => Admin : Acceso y control a novedades y ofertas academicas</P>
</div>

<div class="container-fluit">
<table class="table">
    <thead>
        <th>Nombre</th>
        <th>E-mail</th>
        <th>Rol</th>
        <th>Creacion</th>
        <th>Actualizacion</th>
        <th>Operaciones</th>
    </thead>
    {% for user in useradmin  %}
    <tbody>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.rol_id }}</td>
        <td>{{ user.created_at }}</td>
        <td>{{ user.updated_at }}</td>
        <td><a class="btn btn-primary" href="{{ path_for("usuario.editarusuariosadmin", {'id' : user.id}) }}">Editar</a> -
        <div class="btn-group">
                <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Eliminar <span class="caret"></span>
                </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path_for('usuarioadmin.delete', {'id' : user.id}) }}">Eliminar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Cancelar</a></li>
                        </ul>
            </div>
    </tbody>
    {% endfor %}
</table>
</div>



{% endblock %}
