{% extends "template/base.twig" %}
{% block content %}
<br>
<div class="well">
<h4>Tipo de Novedad</h4>
<p>1 => Destacada</P>
<p>2 => Principal</P>
</div>

<table class="table">
    <thead>
        <th>Titulo</th>
        <th>Tipo de Novedad</th>
        <th>Creacion</th>
        <th>Actualizacion</th>
        <th>Operaciones</th>
    </thead>
    {% for novedad in novedades %}
    <tbody>
        <td>{{ novedad.titulo }}</td>
        <td>{{ novedad.tipo_novedad }}</td>
        <td>{{ novedad.created_at }}</td>
        <td>{{ novedad.updated_at }}</td>
        <td><a data-dismiss="modal" class="btn btn-primary" href="{{ path_for("novedad.editarnovedad", {'id' : novedad.id_novedad}) }}">Editar</a>-
            <div class="btn-group">
                <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Eliminar <span class="caret"></span>
                </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path_for('novedad.delete', {'id' : novedad.id_novedad}) }}">Eliminar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Cancelar</a></li>
                        </ul>
            </div>
    </tbody>
    {% endfor %}
</table>

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
