{% if flash.getMessage('info') %}
<br>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{{  flash.getMessage('info') | first | capitalize  }}
</div>
{% endif %}

{% if flash.getMessage('error') %}
<br>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{{  flash.getMessage('Error') | first | capitalize  }}
</div>

{% endif %}
